<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <header>
        <div>
            <h1>OSCAR LANDSTRÖM</h1>
            <h2>Front end developer</h2>
        </div>

        <div class="header-arrow"></div>
    </header>

    <section class="patternPanel">
        <div class="resumeBox">
            <ul>
                <div>asd</div>
                <div>asd</div>
                <div>asd</div>
                <div>asd</div>
            </ul>
        </div>
    </section>

    <footer></footer>
</body>
</html>
