@import 'reset.scss';

$colorBackground: #351eb8;
$colorAccent: #ff4b5c;

$fontSerif: 'Lato', 'serif';
$fontSansSerif: 'Playfair Display', 'sans-serif';


html {
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $fontSerif;
    background-color: $colorBackground;
    color: $colorAccent;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $fontSansSerif;
}

header,
footer {
    background-color: $colorBackground;
    background-image: linear-gradient(to top, $colorBackground 0%, lighten($colorBackground, 5%) 100%);
}

.header-innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    & > h1 {
        position: relative;
        font-size: 36px;
        margin: 0;

        &:after {
            display: block;
            margin: 15px auto 10px;
            width: 25px;
            height: 2px;
            background-color: $colorAccent;
            content: '';
        }
    }

    & > h2 {
        position: relative;
        font-weight: 400;
        margin: 5px 0 0 ;
        font-size: 18px;
        font-family: $fontSerif;
    }
}

.header-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 5vh;
    transform: translate(-50%, 0);
    border-radius: 50%;
    animation: float 1s ease-in-out infinite;

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        width: 25%;
        height: 3px;
        background-color: $colorAccent;
        content: '';
	    will-change: transform;
        transition: transform 0.3s linear;
    }

    &:before {
        left: 30%;
        transform: rotate(45deg);
    }

    &:after {
        right: 30%;
        transform: rotate(-45deg);
    }
}

.middle,
footer {
    position: relative;
}

.middle {
    background-color: $colorAccent;
    background-image: linear-gradient(to top, $colorAccent 0%, lighten($colorAccent, 5%) 100%);
}

.middlePatternPanel,
.footerPatternPanel {
    position: absolute;
    top:-5%;
    left:-5%;
    width:110%;
    height: 45vh;
    z-index: 2;
	will-change: transform;
    background-color: $colorAccent;
}

.middlePatternPanel {
    background: repeating-linear-gradient(-8deg, $colorAccent, $colorAccent 10px, $colorBackground 10px, $colorBackground 20px);
    transform: translate(0, var(--MiddlePaternPanelPositionY)) rotate(1deg);
}

.footerPatternPanel {
    background: repeating-linear-gradient(8deg, $colorAccent, $colorAccent 10px, $colorBackground 10px, $colorBackground 20px);
    transform: translate(0, var(--FooterPaternPanelPositionY)) rotate(-2deg);
}

.experiences {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
    padding: 20vh 0;
    line-height: 20px;
    font-size: 16px;
    z-index: 1;
}

.experiences {
    color: $colorBackground;
}

.techniques {
    color: $colorAccent;
}

.experiences-header,
.techniques-header,
.getInTouch-header {
    font: 32px/50px $fontSansSerif;
    margin-bottom: 10px;
    will-change: opacity, transform;
}

.experiences-header {
    transform: translateY(var(--ExperienceHeaderPositionY));
    opacity: var(--ExperiencesHeaderOpacity);
}

.experience {
    position: relative;
    max-width: 760px;
    margin-bottom: 3rem;
    font-family: 'Lato';
    padding-bottom: 20px;
    transform: translateY(var(--ExperiencePositionY));
    opacity: var(--ExperienceOpacity);
    will-change: transform, opacity;
    line-height: 22px;

    &:before {
        position: absolute;
        top: 5px;
        left: -30px;
        width: 16px;
        height: 16px;
        transform: scale(var(--ExperienceDotScale));
        transform-origin: center;
        border-radius: 50%;
        border: 2px solid $colorBackground;
        content: '';
    }

    & > h2 {
        position: relative;
        font-family: $fontSerif;
        font-style: normal;
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 20px;

        &:after {
            position: absolute;
            bottom: -3px;
            width: var(--ExperienceBorderWidth);
            height: 2px;
            background-color: $colorBackground;
            content: '';
        }
    }

    &:nth-child(2n+1) {
        & > h2 {
            &:after {
                right: 0;
                left: auto;
            }
        }
    }

    &:nth-child(2n+2) {
        & > h2 {
            &:after {
                left: 0;
            }
        }
    }

    & > h3,
    & > p {
        font-family: $fontSansSerif;
    }

    & > h3,
    & > p {
        font-style: normal;
        font-size: 15px;
    }

    & > p > a {
        font-family: $fontSerif;
        color: $colorBackground;
    }
}

footer {
    background-color: $colorBackground;
}

.footer-content {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
    padding: 20vh 0 30vh;
    color: $colorAccent;
    line-height: 20px;
    font-size: 16px;
    z-index: 1;

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: var(--TechniquesDividerHeight);
        transform: translate(-50%, -50%);
        opacity: var(--TechniquesHeaderOpacity);
        background-color: $colorAccent;
        will-change: transform, opacity;
        content: '';
    }
}

.techniques,
.getInTouch {
    flex-basis: 50%;
    padding: 0 16px;
}

.techniques {
    margin-right: 20px;
}

.getInTouch {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.techniques-header,
.getInTouch-header {
    position: relative;
    padding-left: 15px;
    border-style: solid;
    border-color: $colorAccent;
    will-change: opacity, transform, width;
    opacity: var(--TechniquesHeaderOpacity);
    transform: translateY(var(--TechniquesHeaderPositionY));

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $colorAccent;
        width: var(--TechniquesBorderWidth);
        content: '';
    }
}

.techniques-list,
.getInTouch-list, {
    font-family: $fontSerif;
    font-style: normal;
    max-width: 760px;
    padding: 0 30px 20px 15px;
}

.techniques-listItem,
.getInTouch-listItem {
    will-change: transform, opacity;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 3px;

    &:before {
        position: absolute;
        top: 6px;
        left: -15px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid $colorAccent;
        will-change: transform;
        content: '';
    }
}

.techniques-listItem {
    transform: translateX(var(--TechniquePositionX));
    opacity: var(--TechniqueOpacity);

    &:before {
        transform: scale(var(--TechniqueDotScale));
    }
}

.getInTouch-listItem {
    transform: translateX(var(--GetInTouchPositionX));
    opacity: var(--GetInTouchOpacity);

    &:before {
        transform: scale(var(--GetInTouchDotScale));
    }

    & > a {
        color: $colorAccent;
    }
}

@keyframes float {
	0% {
        transform: translate(-50%, 0);
	}
	50% {
        transform: translate(-50%, -10px);
	}
	100% {
        transform: translate(-50%, 0);
	}
}

@media only screen and (max-width: 760px) {
    .experiences {
        padding: 20vh 40px;
    }

    .footer-content {
        flex-direction: column;

        &:after {
            display: none;
        }
    }

    .techniques,
    .getInTouch {
        margin: 0;
    }

    .techniques {

    }
}
